extends layout

block content
  h1= message
  h2= error.status
  //- pre #{error.stack}

  div 
    a(href="/blog") Blog
    div automatic redirect in <span id="redirectNumber"> 5</span> sec
  script(type="text/javascript"). 
    $(document).ready(function(){
      var startNumber = 5;
      var redirectInterval =  setInterval(function(){
        startNumber = startNumber -1;
        if (startNumber<=0){
          window.location.replace('/blog');
          clearInterval(redirectInterval);
        }
        $('#redirectNumber').text(startNumber);
      },1000)
    });